@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
 
  text-decoration: none !important;
  list-style-type: none !important;
}
:root {
  /* font-family:  */
  --ff-jakarta: "Plus Jakarta Sans";

  /* font-weight; */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* font-size; */
  --fs-sm: 15px;
  --fs-sm1: 16px;
  --fs-sm2: 18px;
  --fs-md: 20px;
  --fs-lg: 32px;
  --fs-lg1: 44px;
  --fs-lg2: 48px;

  /* color */
  --fc-offwhite: #caced2;
  --fc-offwhite1: #b0b7bd;
  --fc-blue: #0389ff;
  --fc-black: #020d15;
  --fc-white: #fbfdff;
  --fc-offwhite2: #b1b5b9;
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-600 {
  font-weight: var(--fw-600);
}
.fw-500 {
  font-weight: var(--fw-500);
}
.fw-400 {
  font-weight: var(--fw-400);
}
.fw-300 {
  font-weight: var(--fw-300);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-sm1 {
  font-size: var(--fs-sm1);
}
.fs-sm2 {
  font-size: var(--fs-sm2);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-lg1 {
  font-size: var(--fs-lg1);
}
.fs-lg2 {
  font-size: var(--fs-lg2);
}
.fc-white {
  color: var(--fc-white);
}
.fc-black {
  color: var(--fc-black);
}
.fc-blue {
  color: var(--fc-blue);
}
.fc-offwhite {
  color: var(--fc-offwhite);
}
.fc-offwhite1 {
  color: var(--fc-offwhite1);
}
.fc-offwhite2 {
  color: var(--fc-offwhite2);
}
.ff-jakarta {
  font-family: var(--ff-jakarta);
}
.bg-img {
  background-image: url(../images/bg-img\ -1-wwbp.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.z-11 {
  z-index: 11;
}
.min-vh-100{
  min-height: 100vh !important;
}
.nav-bg {
  background-image: url(../images/bg-img\ -1-wwbp.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-black1 {
  background-color: #020d15;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.bg-blue {
  background-color: #021728;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.custom-container {
  max-width: 1320px !important;
}
.container-custom {
  max-width: 1320px;
}
.pt-15 {
  padding-top: 65px;
}
.home {
  position: relative;
  transition: all 300ms linear;
}
.home:hover {
  -webkit-text-stroke: 1px var(--fc-offwhite1);
}

.z-10 {
  z-index: 10;
}
.home::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 0;
  background-color: var(--color-white);
  left: 0;
  top: 25px;
  transition: 300ms all linear;
}
.mt-15 {
  margin-top: 25px;
}
.try-btn {
  padding: 13px 32px;
  border-radius: 40px;
  background: linear-gradient(
    160deg,
    rgba(0, 136, 255, 0.58) -14.36%,
    #0069e3 113.71%
  );
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}
.w-524 {
  max-width: 524px;
}
.w-525 {
  max-width: 525.868px;
}
.w-515 {
  max-width: 515px;
}
.w-467 {
  max-width: 467px;
}
.w-474 {
  max-width: 474.976px;
}
.w-370 {
  max-width: 370.747px;
}
.max-520 {
  max-width: 520px;
}
.w-834 {
  max-width: 834px;
}
.w-617 {
  max-width: 617px;
}
.ml-5 {
  margin-left: 5px;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(39, 70, 237, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--fc-blue);
  outline: 1px solid slategrey;
}
.value-card {
  display: flex;
  min-width: 400px;
  height: 80px;
  padding: 0px 16px;
  border-radius: 10px;
  background: rgba(3, 137, 255, 0.12);
  backdrop-filter: blur(12.5px);
}
.try-btn:hover {
  background: var(--fc-blue);
  border: 1px transparent;
  color: var(--fc-white);
}
.start-btn {
  border-radius: 41px;
  background-color: var(--fc-blue);
  padding: 10px 30px;
  border: 1px solid var(--fc-blue) !important;
  transition: 0.2s linear;
  z-index: 1;
}
.outline-none {
  outline: 0;
}
.start-btn:hover {
  background-color: transparent;
  border: 1px solid var(--fc-blue);
  color: var(--fc-white);
}
.sign-btn {
  padding: 13px 15px;
  border-radius: 40px;
  max-width: 162px;
  width: 100%;
  background: linear-gradient(
    160deg,
    rgba(0, 136, 255, 0.58) -14.36%,
    #0069e3 113.71%
  );
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
  transition: all 0.2ms linear;
  border: 1px solid transparent;
}
.sign-btn:hover {
  background: var(#0389ff);
  border: 1px solid transparent;
  color: var(--fc-white);
}
.span1,
.span2,
.span3 {
  transition: all 0.2s ease-in-out;
}
.nav1 {
  display: none;
}
.nav2 {
  transform: rotate(45deg) translate(2px, 14px);
  width: 30px !important;
  background-color: var(--fc-blue) !important;
}
.nav3 {
  transform: rotate(-45deg) translate(0px, -13px);
  width: 30px !important;
  background-color: var(--fc-blue) !important;
}
.accordion {
  --bs-accordion-bg: none !important;
  --bs-accordion-border-width: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-color: #0389ff !important;
  --bs-accordion-active-bg: none !important;
  --bs-accordion-active-padding-bottum: 7px !important;
}
.accordion-body {
  padding: 0 !important;
  color: var(--fc-white) !important;
  padding: 0px 0px 20px 27px !important;
  max-width: 370px !important;
}
.accordion-button {
  color: var(--fc-white) !important;
  transition: all 300ms linear !important;
}
.accordion-button:not(.collapsed) {
  color: #0389ff !important;
  transition: all 300ms linear !important;
}
.accordion-button:not(.collapsed) img {
  display: block !important;
}
.accordion-item {
  padding: 0px !important;
  border: 2px solid transparent !important;
  border-radius: 10px !important;
  margin-bottom: 20px !important;
  background: #021b31 !important;
}
.s7-padding {
  padding-bottom: 130px;
}
.s7-arrow3 {
  position: absolute;
  right: unset;
  top: unset;
  left: unset;
  bottom: -6%;
  transform: rotate(90deg);
}
.s7-arrow2 {
  position: absolute;
  right: unset;
  bottom: -6%;
  top: unset;
  transform: rotate(90deg);
}
.s7-arrow1 {
  position: absolute;
  right: unset;
  top: unset;
  bottom: -6%;
  transform: rotate(90deg);
}
.try {
  padding: 13px 32px;
  border-radius: 40px;
  background: linear-gradient(
    160deg,
    rgba(0, 136, 255, 0.58) -14.36%,
    #0069e3 113.71%
  );
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
  margin-top: 76px;
}
.s7-card-margin {
  margin-top: 75px;
}
.border-right {
  border-right: 1px solid var(--fc-offwhite1);
}
.border_bottom {
  border-bottom: 1px solid var(--fc-offwhite1);
}
.ceos-slider.slick-track {
  display: flex !important;
  align-items: center !important;
}
.mail-box {
  display: inline-flex;
  padding: 1px 0px 1px 33.713px;
  justify-content: flex-end;
  align-items: center;
  gap: 167px;
  border-radius: 29px;
  background: rgba(251, 253, 255, 0.07);
}
.ceos-slider .slick-center {
  max-width: 946px;
  height: 2675px;
  border-radius: 20px;
  background: rgba(3, 137, 255, 0.12);
  padding: 5px px;
}
.customer-slider .slick-track {
  display: flex !important;
}
.customer-slider .slick-slide {
  height: inherit !important;
  display: flex !important;
}
.customer-slider .slick-slide > div {
  display: flex;
}
.ceos-slider .slick-dots li button::before {
  line-height: 20px;
  position: absolute;
  top: 0 !important;
  left: 50% !important;
  width: 40px !important;
  height: 11px !important;
  content: "" !important;
  text-align: center;
  background-color: var(--fc-blue) !important;
  border-radius: 34px;
}
.ceos-slider .slick-dots li .slick-active button:before {
  width: 57px !important;
  height: 11px !important;
}
.ceos-slider .slick-dots {
  display: flex !important;
  gap: 20px !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
.max-474 {
  max-width: 474px;
}
.collaborate {
  filter: grayscale(100%);
  mix-blend-mode: color;
}
.collaborate:hover {
  filter: grayscale(0%);
}

.btn-select {
  display: inline-flex;
  padding: 13px 32px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid var(--White, #fbfdff);
  opacity: 0.7;
  background-color: #020d15;
  transition: all 300ms linear;
}
.btn-select:hover {
  background: var(--fc-blue);
  box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}
.max-617 {
  max-width: 617px;
}

.border-right1 {
  border-right: 1px solid #273139;
}
.border-right2 {
  border-right: 1px solid #273139;
}
.border-bottom-1 {
  border-bottom: 1px solid #273139;
}
.border-bottom-2 {
  border-bottom: 1px solid #273139;
}
.border-bottom-3 {
  border-bottom: 1px solid #273139;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
#back-to-top {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 40px;
  height: 50px;
  width: 50px;
  color: var(--fc-blue);
  border: none;
  border-radius: 50%;
  padding: 10px;
}


.mx-209 {
  max-width: 209px;
}
.mx-1320 {
  max-width: 1320 !important;
}
.footer-l {
  max-width: 1920px;
  height: 1px;
  opacity: 0.2;
  background: #FBFDFF;
}
.opcity-9 {
  opacity: 0.9;
}

.hero-elp {
  bottom: -46%;
  left: -10%;
}
.acdion-elp1 {
  bottom: 0%;
  left: 0%;
  z-index: 0;
}
.acdion-elp2 {
  top: 10%;
  right: -10%;
}
.man-elp-1 {
  top: 8%;
  right: -6%;
  z-index: 2;
}
.testimonial-elp {
  top: 5%;
  left: 10%;
  z-index: -1;
}
.circle-elp-1 {
  top: -30%;
  right: 0%;
}
.under-circle-elp- {
  top: 5%;
  left: 10%;
  z-index: -1;
}
.work-elp-1 {
  top: 4%;
  right: 0%;
  z-index: -2;
}
.integration-elp-1 {
  top: 0%;
  left: -2%;
}
.acceleration-elp-1 {
  top: 2%;
  right: 0%;
  z-index: -3;
}
.plan-elp-1 {
  top: 2%;
  left: -2%;
}

.footer-svg {
  transition: all 300ms linear;
}
.footer-svg:hover {
  transform: translateY(-10px);
}
@media (max-width: 1200px) {
  .border-right1 {
    border-right: 1px solid #273139;
  }
  .border-right2 {
    border-right: transparent;
  }
  .border-right3 {
    border-right: 1px solid #273139;
  }
  .border-bottom-1 {
    border-bottom: 1px solid #273139;
  }
  .border-bottom-2 {
    border-bottom: 1px solid #273139;
  }
  .border-bottom-3 {
    border-bottom: 1px solid #273139;
  }
  .complete-border-bottom {
    border-bottom: 1px solid #273139;
  }
  .border-left {
    border-left: 1px solid #273139;
  }
  .s7-arrow3 {
    position: absolute;
    right: -11px;
    top: 37%;
    left: unset;
    bottom: unset;
    transform: unset;
  }
}
@media (max-width: 991px) {
  .nav {
    width: 42px;
    height: 28px;
    cursor: pointer;
    top: 34px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 8;
    border-radius: 50%;
    position: fixed;
  }

  label[id="nav"] > span {
    width: 28px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--fc-white);
  }
  .nav-2 {
    width: 46px !important;
    height: 22px !important;
  }
  .menuicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    background: var(--fc-black);
    position: fixed;
    z-index: 3;
    right: 0;
    top: -150%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .menuicon .sm-screen {
    max-width: 303px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .menuicon .sm-screen::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    left: 0;
    bottom: -20px;
  }
  .left-0 {
    right: 0;
    top: 0;
  }
  .over-flow {
    overflow-x: hidden;
  }
  .value-card{
    min-width: 100%;
  }
  .border-right {
    border-right: 1px dashed black;
  }
  .border_bottom {
    border-bottom: 1px dashed black;
  }
  .border-bottom-1 {
    border-bottom: transparent;
  }
  .border-bottom-2 {
    border-bottom: transparent;
  }
  .border-bottom-3 {
    border-bottom: transparent;
  }
 
}
@media (max-width: 768px) {
  .border-r {
    border: none;
  }
  .border-bottom-1 {
    border-bottom: transparent;
  }
  .border-right1 {
    border-right: transparent;
  }
  .border-left {
    border-left: transparent;
  }
  .border-right3 {
    border-right: transparent;
  }
  

}

@media (min-width: 576px) {
  .s7-arrow3 {
    position: absolute;
    right: unset;
    top: 37%;
    left: -6%;
    bottom: unset;
    transform: rotate(180deg);
  }

  .s7-arrow1 {
    position: absolute;
    right: -11px;
    top: 37%;
    bottom: unset;
    transform: unset;
  }
  :root {
    --fs-sm: 15px;
    --fs-sm1: 15px;
    --fs-sm2: 18px;
    --fs-md: 20px;
    --fs-lg: 32px;
    --fs-lg1: 40px;
    --fs-lg2: 40px;
  }
}
@media(min-width:768px){
  .s7-arrow3 {
    position: absolute;
    right: unset;
    top: unset;
    left: 0;
    bottom: -23%;
    transform: rotate(145deg);
  }

  .s7-arrow2 {
    position: absolute;
    right: -11px;
    top: 37%;
    bottom: unset;
    transform: unset;
  }
  :root {
    --fs-sm: 15px;
    --fs-sm1: 14px;
    --fs-sm2: 18px;
    --fs-md: 20px;
    --fs-lg: 25px;
    --fs-lg1: 32px;
    --fs-lg2: 33px;
  }
}
@media (min-width:992px){
  :root {
    --fs-sm: 15px;
    --fs-sm1: 15px;
    --fs-sm2: 18px;
    --fs-md: 20px;
    --fs-lg: 32px;
    --fs-lg1: 40px;
    --fs-lg2: 40px;
  }
} 
  

@media (min-width: 1200px) {
  .s7-arrow3 {
    position: absolute;
    right: -11px;
    top: 37%;
    left: unset;
    bottom: unset;
    transform: unset;
  }
  :root {
    --fs-sm: 15px;
    --fs-sm1: 16px;
    --fs-sm2: 18px;
    --fs-md: 20px;
    --fs-lg: 32px;
    --fs-lg1: 44px;
    --fs-lg2: 48px;
  }
}